.container {
  width: 100vw;
  height: 100vh;
  background-image: url("../../../assets/background.png");
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login {
    background-color: #f0f4f9;
}

.logo{
    width: 70px;
    height: 70px;
    margin-right: 20px;
}