<div class="container">
  <div>
    <h2 class="ml-6 mt-7">Hola, máquina</h2>
  </div>

  <div class="category-wrapper">
    <div id="bloque-azul" class="bloque-azul">
      <h5 class="ml-5">Teoría</h5>
      <h5 class="ml-5">5/30 <i class="pi pi-arrow-circle-right" style="font-size: 1.5rem"></i></h5>


    </div>
    <div id="bloque-rojo" class="bloque-rojo">
      <h5 class="ml-5">Vídeos</h5>
      <h5 class="ml-5">27/97 <i class="pi pi-arrow-circle-right" style="font-size: 1.5rem"></i></h5>
    </div>
    <div id="bloque-naranja" class="bloque-naranja">
      <h5 class="ml-5">Ejercicios</h5>
      <h5 class="ml-5">3/10 <i class="pi pi-arrow-circle-right" style="font-size: 1.5rem"></i></h5>
    </div>

  </div>

  <div class="formador-info">
    <div class="ml-4">
      <p>Tu formador/a:</p>

      <div class="formador-details">
        <img src="../../../assets/formador-photo.jpg" alt="Foto del formador">

        <div>
          <h5>Nombre del formador</h5>
          <p>Senior Frontend Developer</p>
        </div>

      </div>
    </div>

    <div class="progreso">
      <p>Progreso total de formación</p>
      <p-knob [(ngModel)]="value" [readonly]="true" textColor="black"></p-knob>
    </div>
  </div>

  <div class="pasos-formacion">
    <div class="bloque-formacion" id="bloque1">
      <div class="bloque-header">
        <img src="../../../../assets/html5-logo.svg" alt="Logo de HTML">
        <div>
          <h5>Html5 y Css3:</h5>
          <p><i>(Duración recomendada: 1 semana)</i></p>
        </div>
      </div>
      <p>Fundamentos de ambos lenguajes de marcado y estilos. Os recomiendo conocer lo básico de estas
      herramientas, pero que idealmente dediquéis alrededor de una semana, ya que los siguientes bloques son algo más
      complejos.</p>
      <p><i>Aqui sera necesario conseguir la certificacion Responsive Web Design</i></p>
    </div>

    <div class="bloque-formacion" id="bloque2">
      <div class="bloque-header">
        <img src="../../../../assets/js-logo.svg" alt="Logo de Javascript">
        <div>
          <h5>Fundamentos de JavaScript y Buenas prácticas:</h5>
          <p><i>(Duración recomendada: 4 semanas)</i></p>
        </div>
      </div>
      <p>Fundamentos de ambos lenguajes de marcado y estilos. Os recomiendo conocer lo básico de estas
        herramientas, pero que idealmente dediquéis alrededor de una semana, ya que los siguientes bloques son algo más
        complejos.</p>
      <p><i>En este bloque sera necesario conseguir la certificacion en Algoritmos y Estructuras de Datos con Javascript
      </i></p>
    </div>

    <div class="bloque-formacion" id="bloque3">
      <div class="bloque-header">
        <i class="pi pi-info-circle mt-6 mr-4" style="font-size: 2rem"></i>
        <div>
          <h5>Metodología e Infraestructura:</h5>
          <p><i>(Duración recomendada: 1 semana)</i></p>
        </div>
      </div>
      <p>Conoceréis algunas herramientas de gran ayuda y a conocer cómo funciona la comunicación y el marco de trabajo en un
      proyecto grande. La intención es daros a conocer estos elementos, pero sin necesidad que profundicéis demasiado.
      </p>
    </div>


    <div class="bloque-formacion" id="bloque4">
      <div class="bloque-header">
        <img src="../../../../assets/angular.svg" alt="Logo de Angular">
        <div>
          <h5>Angular Framework:</h5>
          <p><i>(Duración recomendada: 4 semanas)</i></p>
        </div>
      </div>
      <p>Es muy importante tener un conocimiento fluido de al menos un framework de Js. Nos centraremos en Angular porque a pesar
      de que sea uno de los frameworks con una curva de aprendizaje más pronunciada, es quizá el más robusto y muy solicitado
      en proyectos grandes.</p>
    </div>

  </div>

</div>