<div class="flex flex-row align-items-center justify-content-center">
    <img src="../../../../assets/solo-n.png" class="logo">
    <p class="text-2xl font-medium">Manager</p>
</div>
<hr class="w-10" />
<div class="menu">
    <div>
        <ul class="list-none mr-6 mt-5 text-center">
          <li
            class="mb-4 mr-5 text-xl cursor-pointer transition transition-duration-300 hover:text-blue-700"
          >
            <i class="pi pi-home mr-2 text-xl"></i>Inicio
          </li>
          <li
            class="mb-4 text-xl cursor-pointer transition transition-duration-300 hover:text-blue-700"
          >
            <i class="pi pi-compass mr-2 text-xl"></i>Itinerario
          </li>
          <li
            class="mb-4 text-xl cursor-pointer transition transition-duration-300 hover:text-blue-700"
          >
            <i class="pi pi-pencil mr-2 text-lg"></i>Ejercicios
          </li>
        </ul>
      </div>
      
      <div class="mb-8 flex flex-column align-items-center">
        <span class="text-xl cursor-pointer transition transition-duration-300 hover:text-blue-700">
          <i class="pi pi-user mr-2 text-xl "></i>Mi perfil
      </span>
      <hr class="w-10">
          <button pButton class="p-button-danger w-8 cursor-pointer mt-2 text-lg">Cerrar sesión</button>
      </div>
</div>


