<div class="p-5">
  <h1 class="text-center">Ejercicios Javascript</h1>
  <hr />

  <h3>Ejercicio 1</h3>
  <p>Dado un array de objetos, obtener el objeto con el id 3</p>

  <div class="code">
    <code>
      const arrNames = [ <br />
      {{ "{" }}id: 1, name: 'Pepe'{{ "}" }}, <br />
      {{ "{" }}id: 2, name: 'Juan'{{ "}" }}, <br />
      {{ "{" }}id: 3, name: 'Alba'{{ "}" }}, <br />
      {{ "{" }}id: 4, name: 'Toby'{{ "}" }}, <br />
      {{ "{" }}id: 5, name: 'Lala'{{ "}" }} <br />
      ];
    </code>
  </div>

  <h3 class="mt-5">Ejercicio 2</h3>
  <p>
    Dado un array de valores, devolver un array truthy (sin valores nulos,
    vacíos, no números, indefinidos o falsos)
  </p>
  <div class="code">
    <code
      >const arrDirty = [NaN, 0, 5, false, -1, '',undefined, 3, null,
      'test']</code
    >
  </div>

  <h3 class="mt-5">Ejercicio 3</h3>
  <p>
    Dado un array de ciudades, sacar todas las ciudades de España que no sean
    capitales
  </p>

  <div class="code">
    <code
      >const arrCities = [ <br />
      {{ "{" }}city: 'Logroño', country: 'Spain', capital: false{{ "}" }},
      <br />
      {{ "{" }}city: 'Paris', country: 'France', capital: true{{ "}" }}, <br />
      {{ "{" }}city: 'Madrid', country: 'Spain', capital: true{{ "}" }}, <br />
      {{ "{" }}city: 'Rome', country: 'Italy', capital: true{{ "}" }}, <br />
      {{ "{" }}city: 'Oslo', country: 'Norway', capital: true{{ "}" }}, <br />
      {{ "{" }}city: 'Jaén', country: 'Spain', capital: false{{ "}" }} <br />
      ]</code
    >
  </div>

  <h3 class="mt-5">Ejercicio 4</h3>
  <p>
    Dado tres arrays de números, sacar en un nuevo array la intersección de
    estos.
  </p>
  <div class="code">
    <code>
      const arrNumber1 = [1,2,3]; <br />
      const arrNumber2 = [1,2,3,4,5]; <br />
      const arrNumber3 = [1,4,7,2]; <br />
    </code>
  </div>

  <h3 class="mt-5">Ejercicio 5</h3>
  <p>
    Dado un array de ciudades, sacar en un nuevo array las ciudades no capitales
    con unos nuevos parámetros que sean city y isSpain. El valor de isSpain será
    un booleano indicando si es una ciudad de España. <br />
    <br />
    <span class="text-red-400">
      Ejemplo: {{ "{" }}city: "Logroño", isSpain: "true"{{ "}" }}
    </span>
  </p>

  <div class="code">
    <code>
      const arrCities2 = [ <br />
      {{ "{" }}city: 'Logroño', country: 'Spain', capital: false{{ "}" }},
      <br />
      {{ "{" }}city: 'Bordeaux', country: 'France', capital: false{{ "}" }},
      <br />
      {{ "{" }}city: 'Madrid', country: 'Spain', capital: true{{ "}" }}, <br />
      {{ "{" }}city: 'Florence', country: 'Italy', capital: true{{ "}" }},
      <br />
      {{ "{" }}city: 'Oslo', country: 'Norway', capital: true{{ "}" }}, <br />
      {{ "{" }}city: 'Jaén', country: 'Spain', capital: false{{ "}" }} <br />
      ]
    </code>
  </div>

  <h3 class="mt-5">Ejercicio 6</h3>
  <p>
    Crea una función que redondee un número float a un número específico de
    decimales. La función debe tener dos parámetros:
  </p>
  <ul>
    <li>Primer parámetro es un número float con x decimales</li>
    <li>
      Según parámetro es un int que indique el número de decimales al que
      redondear
    </li>
    <li>Evitar usar el método toFixed()</li>
  </ul>
  <p>Ejemplo de uso de la función:</p>
  <div class="code">
    <code
      >const roundedResult = roundTo(2.123, 2); <br />
      console.log(roundedResult); // 2.12 <br />
      <br />

      const roundedResult = roundTo(1.123456789, 6); <br />
      console.log(roundedResult); // 1.123457</code
    >
  </div>

  <h3 class="mt-5">Ejercicio 7</h3>
  <p>
    Crea una función que retorne los campos de un objeto que equivalgan a un
    valor “falsy” después de ser ejecutados por una función específica. <br />
    <br />
    La función debe tener dos parámetros:
  </p>
  <ul>
    <li>Primer parámetro es un objeto con x número de campos y valores</li>
    <li>
      Segundo parametro es una funcion que retorne un booleano, que se tiene que
      aplicar al objeto del primer parámetro
    </li>
  </ul>
  <p>Ejemplo de uso de la función:</p>
  <div class="code">
    <code>
      const result = returnFalsyValues({{ "{" }} a: 1, b: '2', c: 3 {{ "}" }}, x
      => typeof x ==='string') <br />
      <br />
      console.log(result); // {{ "{" }}a: 1, c: 3{{ "}" }}
    </code>
  </div>

  <h3 class="mt-5">Ejercicio 8</h3>
  <p>
    Crea una función que convierta un número de bytes en un formato con valores
    legibles ('B', 'KB', 'MB', 'GB', 'TB', 'PB', 'EB', 'ZB', 'YB')
  </p>
  <p>La función debe tener 2 parámetros:</p>
  <ul>
    <li>Primer parámetro debe ser el número de bytes</li>
    <li>
      Segundo parámetro debe ser un número especificando la cantidad de dígitos
      a los que se debe truncar el resultado (esto se puede hacer con
      Number.prototype.toPrecision()). Por defecto, este parámetro debe de tener
      un valor de 3.
    </li>
  </ul>
  <p>Ejemplo de uso de la función:</p>
  <div class="code">
    <code>
      const result = fromBytesToFormattedSizeUnits(1000);<br />
      console.log(result); // 1KB <br />
      <br />

      const result = fromBytesToFormattedSizeUnits(123456789); <br />
      console.log(result); // 123MB <br />
      <br />

      const result = fromBytesToFormattedSizeUnits(-12145489451.5932, 5); <br />
      console.log(result); // -12.145GB
    </code>
  </div>

  <h3 class="mt-5">Ejercicio 9</h3>
  <p>
    Crea una función que a partir de un objeto de entrada, retorne un objeto
    asegurándose que las claves del objeto estén en lowercase.
  </p>
  <p>La función debe tener un objeto como único parámetro.</p>
  <p>Ejemplo de uso de la función:</p>
  <div class="code">
    <code>
      const myObject = {{ "{" }} NamE: 'Charles', ADDress: 'Home Street'
      {{ "}" }};<br />
      const myObjLowercase = toLowercaseKeys(myObject);<br />
      console.log(myObjLowercase); // {{ "{" }} name: 'Charles', address: 'Home
      Street' {{ "}" }}
    </code>
  </div>

  <h3 class="mt-5">Ejercicio 10</h3>
  <p>Crea una función que elimine las etiquetas html o xml de un string.</p>
  <p>La función debe tener un string como único parámetro.</p>
  <p>Ejemplo de uso de la función:</p>

  <div class="code">
    <code>
      const result = removeHTMLTags("&lt;div&gt;&lt;span&gt;lorem&lt;/span&gt;
      &lt;strong&gt;ipsum&lt;/strong&gt;&lt;/div&gt;"); <br />
      <br />

      console.log(result); // lorem ipsum
    </code>
  </div>

  <h3 class="mt-5">Ejercicio 11</h3>
  <p>
    Crea una función que tome un array como parametro y lo divida en arrays
    nuevos con tantos elementos como sean especificados.
  </p>
  <p>La función debe tener dos parámetros:</p>
  <ul>
    <li>El primer parámetro es el array entero que se quiere dividir.</li>
    <li>
      El segundo parámetro es el número de elementos que deben tener los arrays
      en los que se divida el array original del primer parámetro.
    </li>
  </ul>
  <p>Ejemplo de uso de la función:</p>
  <div class="code">
    <code>
      const result = splitArrayIntoChunks([1, 2, 3, 4, 5, 6, 7], 3); <br>
      console.log(result); // [ [ 1, 2, 3 ], [ 4, 5, 6 ], [ 7 ] ]
    </code>
  </div>
</div>
